*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    display:flex;
    justify-content: space-between;
    background-color: #0082e6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    width: 100vw;
    position:fixed;
    top: 0;
    z-index: 1000;
}
header div{
    display: flex;
    align-items: center;
}
header div img{
    border-radius: 50%;
    height: 70%;
    margin: 0 10px;
}
header div a{
    font-size: x-large;
    color: white;
    font-weight: bold;
}
header ul{
    display:flex;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 0 5px;
}
header ul li a{
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 500;
    padding: 4px 13px;
    border-radius: 3px;
}
header ul li a:hover{
    background-color: #05345857;
    transition: .5s;
}
#check{
    display: none;
}
section label{
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 10px;
    align-items: center;
    display: none;
    z-index: 1001;
}
section label i{
    color: white;
    font-size: x-large;
    cursor: pointer;
    position: fixed;
    right: 10px;
}
.fa-bars{
    background-color: #0082e6;
    /* display: none; */
}
.fa-xmark{
    background-color: #0082e6;
    display: none;
    /* margin-right: 5px; */
}
#s-nav ul{
    background-color: #112d42;
    width: 70vw;
    height: calc(100vh - 50px);
    position: absolute;
    right: -70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#s-nav ul li{
    list-style: none;
    justify-content: center;
    margin: 5vh 0;
}
#s-nav ul li a{
    padding: 4px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
}
#s-nav ul li a:hover{
    background-color: #0082e6;
}
#container{
    width: auto;
    margin: 12vh 10vw 7vh;
    padding: 5vh;
    background-color:white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#container:hover{
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#intro{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
}
#name{
    font-weight: 900;
    font-size: xxx-large;
    font-family: 'Sora', sans-serif;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.intro{
    display: flex;
    justify-content: center;
    text-align: center;
}
.s-intro{
    font-size: 30px;
}
.d-intro{
    margin: -1px 0 10px 7px;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}
.d-intro li{
    list-style: none;
    font-weight: bold;
    color: #fa2b0b;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}
@keyframes slide{
    100%{
        top: -120px;
    }
}
.d-intro li::after{
    background-color: white;
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid #fa2b0b;
    animation: typing 3s steps(13) infinite;
}
@keyframes typing{
    40%, 60%{
        left: calc(100% + 0px);
    }
    100%{
        left: 0px;
    }
}
.d-introb{
    color: #fa2b0b;
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: 10px;
    display: none;
    text-align: center;
    width: 100%;
    margin-left: 10%;
}
.button{
    display: flex;
    justify-content: center;
}
.button a{
    text-decoration: none;
}
button{
    padding: 4px 20px;
    background-color: #fa2b0b;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#cv{
    background-color: white;
    color: #fa2b0b;
}
#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(255,255,255),blue,black);
    padding: 10px 0;
}
#about-me div a{
    color: rgb(92, 100, 100);
}
#about-me p{
    margin: 10px 0;
    font-size: x-large;
    color: rgb(32, 29, 29);
    font-weight: 500;
}
.am-content{
    display: flex;
    justify-content: space-around;
}
.am-c-content{
    display: flex;
    justify-content: center;
}
.am-img img{
    width: 40vw;
    max-width: 300px;
    min-width: 100px;
    border-radius: 30px;
    margin: 20px;
    border: 3px solid black;
}
.am-img img:hover{
    box-shadow: 0 4px 80px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}
.card1{
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card1:hover{
    background-color: rgb(0,0,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1 i{
    color: aqua;
    font-size: 20px;
}
.card1 p b{
    color: white;
    font-size: large;
}
.card1 a{
    color: white;
    font-size: small;
}
.am-i-content{
    margin: 30px 10vw;
    color: white;
    font-size: large;
    max-width: 600px;
}
#contact-me{
    border: 1px solid white;
}
#contact-me:hover{
    box-shadow: 0 4px 8px 0 rgba(225,225,225, 0.2), 0 6px 20px 0 rgba(225,225,225, 0.19);
}
#my-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(black,#112d42,#112d42);
}
#my-skills a{
    color: red;
    margin: 10px 0;
}
#my-skills p{
    margin-top: 30px;
    font-size: x-large;
    color: white;
    font-weight: 600;
}
.my-skills{
    display: flex;
    flex-direction: row;
}
.about-skills{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: left;
}
.about-skills h4{
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}
#rm-text{
    display: none;
}
.about-skills label{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* width: max-content; */
}
.fa-solid{
    color: white;
}

.fa-angle-up{
    display: none;
}
#check2{
    display: none;
}
#check2:checked ~ #rm-text{
    display: flex;
}
#check2:checked ~ label .fa-angle-down{
    display: none;
}
#check2:checked ~ label .fa-angle-up{
    display: flex;
}
.d-gf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.u{
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(#0082e6, #0004e6,#0004e6);
    display: flex;
    align-items: center;
    padding: 0 0px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.u .u-text{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.u p{
    font-size: small;
    color: aqua;
    margin-bottom: 20px;
}
.u .i{
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 80%;
    position: relative;
    float: right;
    border: 1px solid white;
    background-color: #e494878a;
    border-radius: 20px;
    height: 30%;
}
.u .i .fill{
    background-image: linear-gradient(135deg,rgba(0, 0, 0, 0.616),rgb(0, 0,0));
    border-radius: 30px;
    height: 100%;
}
.fill1{
    width: 95%;
    animation: filla 3s ease-out 1 ;
}
.fill2{
    width: 89%;
    animation: fillb 3s ease-out 1 ;
}
.fill3{
    width: 60%;
    animation: fillc 3s ease-out 1 ;
}
.fill4{
    width: 85%;
    animation: filld 3s ease-out 1 ;
}
.fill5{
    width: 70%;
    animation: fille 3s ease-out 1 ;
}
.fill6{
    width: 80%;
    animation: fillf 3s ease-out 1 ;
}
@keyframes filla {
    from{width: 0;}
    to{width:95%;}
}
@keyframes fillb {
    from{width: 0;}
    to{width:89%;}
}
@keyframes fillc {
    from{width: 0;}
    to{width:60%;}
}
@keyframes filld {
    from{width: 0;}
    to{width:85%;}
}
@keyframes fille {
    from{width: 0;}
    to{width:70%;}
}
@keyframes fillf {
    from{width: 0;}
    to{width:80%;}
}
#black{
    display: none;
    position: fixed;
    top: 10;
    margin-top: -50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 100;
}
#contact{
    background-image: linear-gradient(#112d42,#112d42);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
}
#contact a{
    color: red;
    margin: 10px 0;
}
#contact p{
    margin-top: 30px;
    font-size: x-large;
    color: white;
    font-weight: 600;
}
.contact{
    display: flex;
    width: 80vw;
    justify-content: center;
    /* align-items: center; */
}
.ttm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 38vw;
}
.ttm span{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
.contact-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.253);
    padding:10px;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}
.contact-box:hover{
    background-color: black;
}
.contact-box i{
    font-size: x-large;
}
.contact-box a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
    margin: -20px 0;
}
.fa-whatsapp{
    color: white;
    font-size: xx-large;
}
.wyp span{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
.wyp form{
    margin-top: 20px;
}
#cboxa{
    border-radius: 6px;
    height: 30px;
    width: 38vw;
    border: 2px solid rgba(0, 255, 255, 0.61);
    background-color: #112d42;
    color: aqua;
    padding: 0 20px;
}
.cbox{
    margin: 0 0 20px 20px;
}
.cbox b{
    color: rgba(0, 255, 255, 0.61);
    background-color: #112d42;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    position:absolute;
    margin: -3px -40vw;
    padding: 0 3px;
}
#cboxb{
    border-radius: 6px;
    height: 100px;
    width: 38vw;
    border: 2px solid rgba(0, 255, 255, 0.61);
    background-color: #112d42;
    color: aqua;
    padding: 10px 20px;
    text-align: justify;
}
#csubmit{
    padding: 4px 20px;
    background-color: #112d42;
    color: rgba(0, 255, 255, 0.61);
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: 2px solid rgba(0, 255, 255, 0.61);
}
#csubmit:hover{
    background-color: rgba(0, 255, 255, 0.61);
    color: #112d42;
}
footer{
    width: 100vw;
    padding: 10px;
    background-image: linear-gradient(#112d42,#000,#000,#000);
    display: flex;
    flex-direction: column;
}
footer p{
    color: white;
    margin-bottom: 10px;
}
footer div a{
    margin: 0 8px;
}
@media (min-width:750px){
    #cv{
        margin-bottom: 10px;
        width: 170px;
        display: inline-block;
    }
    #efgh{
        width: 170px;
        display: inline-block;
    }
}
@media (max-width:750px){
    .h-name{
        margin: 6px;
    }
    .h-nav{
        display: none;
    }
    .intro{
        flex-direction: column;
    }
    .am-content{
        flex-direction: column;
    }
    #cv{
        margin-bottom: 10px;
        width: 170px;
        display: inline-block;
    }
    #efgh{
        width: 170px;
        display: inline-block;
    }
    @keyframes typing{
        40%, 60%{
            left: calc(100% + 10px);
        }
        100%{
            left: 30px;
        }
    }
}
@media (max-width:650px){
    header ul li{
        display: none;
    }
    section label{
        display: block;
    }
    .fa-bars{
        z-index: 1002;
    }
    #check:checked ~ label .fa-bars{
        display: none;
    }
    #check:checked ~ label .fa-xmark{
        display: flex;
    }
    #check:checked ~ #black{
        display: flex;
    }
    #cv{
        margin-bottom: 10px;
        width: 170px;
    }
    #efgh{
        width: 170px;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 1000;
        right: 0;
        position: fixed;
        top: 50px;
        transition: tran 5s ease-in-out 1;
    }
    @keyframes tran{
        from{right:-70vw;}
        to{right:0vw;}
    }
    .my-skills{
        flex-direction: column;
    }
    .about-skills{
        margin-left: 7vw;
    }
    .u{
        width: 80%;
    }
    .contact{
        flex-direction: column;
        align-items: center;
    }
    .ttm{
        margin: 30px;
    }
    #cboxa{
        width: 70vw;
    }
    #cboxb{
        width: 70vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cbox b{
        margin: -3px -70vw;   
    }
    #csubmit{
        display: block;
        margin-left: 10vw;
    }
}
@media (max-width:420px){
    #container .button{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #cv{
        width: 40vw;
        font-size: x-small;
    }
    #efgh{
        width: 40vw;
        font-size: x-small;
    }
    .am-c-content{
        flex-direction: column;
        align-items: center;
    }
    .am-c-content .card1{
        width: 50%;
    }
}